body {
    background: linear-gradient(to bottom right, #422cbf, #b8b5c7);
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .butt {
    display: flex;
    gap: 2rem;
  }
  
  button {
    background-color: #7dffb7;
    color: #000000;
    padding: 1rem;
    border: none;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffac4e;
  }
  